/* Patrones Globales del CSS */

/* Tipografía Principal */
h1, h2, h3, h6, a, button { font-family: 'Big Shoulders Display', cursive; }

/* Tipografía Secundaria */
h4, h5, p, div, form, input, select, option, textarea, span, em, strong { font-family: 'Roboto Condensed', sans-serif; }

/* Quitar el Margen por defecto que trae Body */
body { margin: 0 !important; }

/* Cargar el display: block; a todos los tags de estructura */
header, main, section, footer, aside, article, nav, figure, figcaption, div { display: block; }

/* Quitar margen por defecto a todas las tags de texto */
h1, h2, h3, h4, h5, h6, p { margin: 0; }

/* Quitar scroll horizontal del Body */
body { overflow-x: hidden; background: #000; }



/* ----------------------------------------------------------------- */


/* CSS propio */

/* Componente Precarga Barra */
aside#precarga-barra { width: 100%; height: 100%; display: block; margin: 0; float: none; position: fixed; top: 0; left: 0; z-index: 99999; background: rgb(195, 0, 255); }
aside#precarga-barra article { width: 80%; height: 100%; display: block; margin: 0 auto; float: none; position: relative; }
aside#precarga-barra article figure { width: 50%; height: 10px; display: block; margin: 49vh auto; float: none; position: relative; border-radius: 5px; overflow: hidden; }
aside#precarga-barra article figure div#barra-carga { width: 0.1%; height: 10px; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 10; background: #fff; border-radius: 0 5px 5px 0; }
aside#precarga-barra article figure div#barra-base { width: 100%; height: 10px; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 9; background: rgb(89, 1, 116); }



/* Componente Precarga BPuntos */
aside#precarga-puntos { width: 100%; height: 100%; display: block; margin: 0; float: none; position: fixed; top: 0; left: 0; z-index: 99999; background: rgb(195, 0, 255); }
aside#precarga-puntos article { width: 80%; height: 100%; display: block; margin: 0 auto; float: none; position: relative; }
aside#precarga-puntos article figure { width: 200px; height: 10px; display: block; margin: 49vh auto; float: none; position: relative; }

aside#precarga-puntos article figure div#carga { width: 100%; height: 10px; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 10; }
aside#precarga-puntos article figure div#carga div.puntos-carga { width: 10px; height: 10px; display: block; margin: 0 5px; float: left; position: relative; background: #fff; border-radius: 50%; opacity: 0; }

aside#precarga-puntos article figure div#base { width: 100%; height: 10px; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 9; }
aside#precarga-puntos article figure div#base div.puntos-base { width: 10px; height: 10px; display: block; margin: 0 5px; float: left; position: relative; background: rgb(89, 1, 116); border-radius: 50%; }



/* Componente: Contenedor HEADER */
header { width: 100%; height: 80px; position: fixed; top: 0; left: 0; z-index: 9998; margin: 0; float: none; background: #333; }



/* Componente: Contenedor MAIN */
main { width: 100%; height: auto; position: relative; margin: 80px auto 0 auto; float: none; }



/* Componente Tabs System */
/*
main section#tab-system { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; background: #fff; padding: 75px 0; }
main section#tab-system article { width: 1100px; height: 400px; position: relative; margin: 0 auto; float: none; }

main section#tab-system article nav { width: 345px; height: 35px; position: relative; margin: 0 auto; float: none; }
main section#tab-system article nav a { width: auto; height: auto; position: relative; margin: 0; float: left; display: block; font-size: 1.35em; line-height: 1em; text-decoration: none; padding: 7px 25px; letter-spacing: 0.1em; font-weight: 600; text-align: center; transition: all 0.3s ease-in; }
main section#tab-system article nav a:hover { transition: all 0.3s ease-in; }

main section#tab-system article nav a.tab-activa { color: #000; border-bottom: solid 2px #09f; }
main section#tab-system article nav a.tab-inactiva { color: #999; border-bottom: solid 2px #fff; }

main section#tab-system article nav a.tab-inactiva:hover { color: #000; border-bottom: solid 2px #09f; }

main section#tab-system article figure { width: 1100px; height: 350px; position: relative; margin: 15px auto 0 auto; float: none; overflow: hidden; }
main section#tab-system article figure div#contenedor-tabs { width: 3300px; height: 350px; position: absolute; top: 0; left: 0; margin: 0; float: none; }
main section#tab-system article figure div#contenedor-tabs div#conte-tab-01,
main section#tab-system article figure div#contenedor-tabs div#conte-tab-02,
main section#tab-system article figure div#contenedor-tabs div#conte-tab-03 { width: 1100px; height: 350px; position: relative; margin: 0; float: left; }

main section#tab-system article figure div#contenedor-tabs div#conte-tab-01 { background: #ff0; }
main section#tab-system article figure div#contenedor-tabs div#conte-tab-02 { background: #09f; }
main section#tab-system article figure div#contenedor-tabs div#conte-tab-03 { background: #f00; }
*/



/* Componente Acordeón */
main section#acordeon {  }
main section#acordeon article {  }
main section#acordeon article div#caja-acordeon {  }
main section#acordeon article div#caja-acordeon div.fila-acordeon {  }

main section#acordeon article div#caja-acordeon div.fila-acordeon a {  }
main section#acordeon article div#caja-acordeon div.fila-acordeon a span.caja-iconos {  }
main section#acordeon article div#caja-acordeon div.fila-acordeon a span.caja-iconos span.abierto {  }
main section#acordeon article div#caja-acordeon div.fila-acordeon a span.caja-iconos span.cerrado {  }
main section#acordeon article div#caja-acordeon div.fila-acordeon a span.nombre-pregunta {  }

main section#acordeon article div#caja-acordeon div.fila-acordeon figure {  }
main section#acordeon article div#caja-acordeon div.fila-acordeon figure p {  }



/* Componente: Contenedor FOOTER */
footer { width: 100%; height: 300px; position: relative; margin: 0 auto; float: none; background: #333; }





/* Zona de Media Queries */

/* MQ para Tablets = Breakpoint 1199px */
@media only screen and (max-width: 1199px){
    aside#menu-movil a#abrir,
    aside#menu-movil a#cerrar { top: 22px; }


    header { height: 80px; }
    header article { width: 90%; height: 80px; }
    header article a { width: 118px; height: 50px; margin: 0; float: right; top: 15px; }
    header article a img { width: 100%; height: auto; }


    main { margin: 80px auto 0 auto; }



    main section#slider-home article { height: 75vh; }
    


    main section#banner nav { height: 470px; }
    main section#banner nav a { position: relative; float: left; }
    main section#banner nav a#img-banner-01 { width: 50%; height: 50%; }
    main section#banner nav a#img-banner-02 { width: 50%; height: 50%; }
    main section#banner nav a#img-banner-03 { width: 50%; height: 50%; right: 0; }
    main section#banner nav a#img-banner-04 { width: 50%; height: 50%; }


    main section#grid-instagram article { width: 80%; }
    main section#grid-instagram article a { width: 300px; height: 300px; margin: 0 auto 35px; display: block; }



    main section#fotos-home nav { height: 1030px; }

    main section#fotos-home a#btn-naranja { top: 25px; left: 25px; }

    main section#fotos-home nav a { position: relative; float: left; }

    main section#fotos-home nav a#img-fotos-home-01 { width: 100%; height: 290px; }

    main section#fotos-home nav a#img-fotos-home-02,
    main section#fotos-home nav a#img-fotos-home-03,
    main section#fotos-home nav a#img-fotos-home-04,
    main section#fotos-home nav a#img-fotos-home-05,
    main section#fotos-home nav a#img-fotos-home-06,
    main section#fotos-home nav a#img-fotos-home-07 { width: 50%; height: 150px; }

    main section#fotos-home nav a#img-fotos-home-02 { right: 0; }
    main section#fotos-home nav a#img-fotos-home-04 { top: 0; }
    main section#fotos-home nav a#img-fotos-home-05 { bottom: 0; }
    main section#fotos-home nav a#img-fotos-home-07 { left: 0; }

    main section#fotos-home nav a#img-fotos-home-08 { width: 100%; height: 290px; }
}

/* Breakpoint 699px */
@media only screen and (max-width: 699px){
    aside#pop-up figure { width: 80%; height: 80%; }
}

/* MQ para Móviles Grandes = Breakpoint 499px */
@media only screen and (max-width: 499px){
    
}

/* MQ para Móviles Pequeños = Breakpoint 399px */
@media only screen and (max-width: 399px){
    main section#grid-instagram article a { width: 100%; height: auto; }
}