$width-100xciento : 100%
$width-1100px : 1100px

$height-auto : auto
$height-350px : 350px
$height-400px : 400px

$position-relative : relative
$position-absolute : absolute
$position-fixed :fixed

$margin-0-auto : 0 auto
$margin-0 : 0

$float-none : none
$float-left : left 
$float-right : right

$display-block : block
$display-inline-block : inline-block
$display-none : none



$color-negro-fuente: #000
$color-gris-fuente: #999

$borde-azul-celeste: solid 2px #09f
$borde-blanco: solid 2px #fff






main section#tab-system
    width: $width-100xciento
    height: $height-auto
    display: $display-block
    margin: $margin-0-auto
    float: $float-none
    position: $position-relative

main section#tab-system article
    width: $width-1100px
    height: $height-400px
    display: $display-block
    margin: $margin-0-auto
    float: $float-none
    position: $position-relative

main section#tab-system article nav

main section#tab-system article nav a

main section#tab-system article nav a:hover

main section#tab-system article nav a.tab-activa
    color: $color-negro-fuente
    border: $borde-azul-celeste

main section#tab-system article nav a.tab-inactiva
    color: $color-gris-fuente
    border: $borde-blanco

main section#tab-system article nav a.tab-inactiva:hover

main section#tab-system article figure

main section#tab-system article figure div#contenedor-tabs

main section#tab-system article figure div#contenedor-tabs div#conte-tab-01

main section#tab-system article figure div#contenedor-tabs div#conte-tab-02

main section#tab-system article figure div#contenedor-tabs div#conte-tab-03










